@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Sawarabi+Gothic&display=swap');
@media (min-width: 900px){

    .home-main{
        display: grid;
        grid-template-areas: "e h h x"
                             "w h h x"
                             "j n n x";
    }    

    .event{
        grid-area: e;
    }
    
    .hero{
        grid-area: h;
    }

    .spotlight3{    
        display: block;    
    } 

    .main-spotlight{
        grid-area: x;
        flex-direction: column;
    }
    .weather{
        grid-area: w;
    }

    .join{
        grid-area: j;
    }

    .news{
        grid-area: n;
    }

    .spotlight3{
        display: block;
    }
    
    nav{
        display: flex;
        flex-direction: row;
    }

    #hamburger-menu{
        display: none;
    }

}
