@media (min-width: 600px){

    .main-join{
        display: block;
    }    

    .main-spotlight{
        display: flex;
    }

    .home-main{ 
        display: grid;
        grid-template-areas:    "a a a"
                                "b b b"
                                "c c c"
                                "d d d"
                                "e e f";
    } 
    #weather{
        grid-area: f;
    }

    #hero{
        grid-area: a;
    }

    .news{
        grid-area: b;
    }

    .spotlight{
        grid-area: c;
        display: flex;
    }

    .join{
        display: block;
        grid-area: d;
    }

    .event{
        grid-area: e;
    }

    nav ul{
        display: flex;
        flex-direction: row;
    }

    #hamburger-menu{
        display: none;
    }

    .hide{
        display: flex;
    }


}
