/* index.html */

/* body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    padding: 16px;
    background-color: #472836;
}
header {
    display: inline;
    padding: 16px;
    color: white;
}
.square {
    fill: #9AD2CB;
    stroke: #D7EBBA;
    grid-column: 2/3;
    grid-row: 2/3;
    transition: transform 15s;
}

.square:hover {
    transform: rotate(180deg);
    fill: #EBD494;
    stroke: #D7EBBA;
}

.line {
    transition: transform 15s;
    fill: #9AD2CB;
    stroke: #D7EBBA;
}

.line:hover {
    transform: scale(5);
    fill: #EBD494;
    stroke: #D7EBBA;
}

.curve {
    transition: transform 25s;
    fill: #9AD2CB;
    stroke: #D7EBBA;
}

.curve:hover {
    transform: rotate(360deg);
    fill: #EBD494;
    stroke: #D7EBBA;
} */




/* Curves.html */

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: rgb(60, 49, 49);
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
/* (x,y) */
    transform: translate(-4%, 40%);
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: rgb(60, 49, 49);
    z-index: -1;
}