@media only screen and (min-width: 850px) {

  header {
    display: flex;
    align-items: center;
    background-color:#7dcfb6;
    color: #00b2ca;
    text-shadow: 3px 2px #1d4e89;
    border-radius: 25px;
    border: 8px #fbd1a2 dotted;
    box-shadow: 10px 10px #f79256;
}

  footer {
    align-items: center;
    background-color:#7dcfb6;
    color: #00b2ca;
    text-shadow: 1.5px 1px #1d4e89;
    border-radius: 25px;
    border:8px #fbd1a2 dotted;
    box-shadow: 10px 10px #f79256;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

  header img {
      float: right;
      box-shadow: 5px 5px #f79256;
      border: 10px #fbd1a2 dotted;
    }
}