@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Pacifico&family=Roboto&family=Rowdies&family=Rubik+Bubbles&display=swap');
body{
 font-family: 'Bakbak One', cursive;
 font-family: 'Pacifico', cursive;
 font-family: 'Roboto', sans-serif;
 font-family: 'Rowdies', cursive;
 font-family: 'Rubik Bubbles', cursive;    
}

header {
    display: flex;
    align-items: center;
    background-color:#7dcfb6;
    color: #00b2ca;
    text-shadow: 3px 2px #1d4e89;
    border-radius: 25px;
    border: 6px #fbd1a2 dashed;
    box-shadow: 10px 10px #f79256;
}

header img {
    width: 150px;
    margin: 1rem;
    border: 6px #fbd1a2 solid;
    box-shadow: 5px 5px #f79256;
}

header h1{
    text-align: center;
}

header div:nth-child(2) {
    width: 100%;
}

#content {
    margin: 0 auto;
    width: 800px;
    color: #00b2ca;
    text-shadow: 1px 1px #1d4e89;
}

footer {
    align-items: center;
    background-color:#7dcfb6;
    color: #00b2ca;
    text-shadow: 1.5px 1px #1d4e89;
    border-radius: 25px;
    border: 6px #fbd1a2 dashed;
    box-shadow: 10px 10px #f79256;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}



